* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --primary-color: #261447;
  --secondary-color: #1A659E;
  --accent-color: #FF3864;
  --seashell-color: #F8CDB0;
  line-height: 1.2;
  font-family: 'PT Serif', serif;
}